<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Commands">
            <Component Id="cmpB029FEC953C355B7B3B90037FAD4C1F1" Guid="{FB24E6CC-CBE3-45F2-8770-444F0FD8C609}">
                <File Id="fil363757F065AAC13D1E4E81CB5C380689" KeyPath="yes" Source="$(var.CommandsPath)\landis-ii-7.cmd" />
            </Component>
            <Component Id="cmp85986758FADEB24C2F6AA33E87A5B7C5" Guid="{D81D9461-F73A-49F9-869C-E2192D48456A}">
                <File Id="fil7682CAD1EC6A221BB63E9F5FD07B228D" KeyPath="yes" Source="$(var.CommandsPath)\landis-ii-extensions.cmd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CommandComponents">
            <ComponentRef Id="cmpB029FEC953C355B7B3B90037FAD4C1F1" />
            <ComponentRef Id="cmp85986758FADEB24C2F6AA33E87A5B7C5" />
        </ComponentGroup>
    </Fragment>
</Wix>