<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="Extensions">
            <Component Id="cmpT89ZE7m9F6ZxoBsVEWl9Mf1O1F0" Guid="{A944AB27-5961-444C-9975-90238A62718D}">
                <File Id="fil8aYfdjIL9TjgFKxONOk_aluZylo" KeyPath="yes" Source="$(var.ExtensionPath)\extensions.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ExtensionComponents">
            <ComponentRef Id="cmpT89ZE7m9F6ZxoBsVEWl9Mf1O1F0" />
        </ComponentGroup>
    </Fragment>
</Wix>