<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="Extensions">
            <Component Id="cmpT89ZE7m9F6ZxoBsVEWl9Mf1O1F0" Guid="{937C0437-DE17-4A7D-976B-477BF1327A8C}">
                <File Id="fil8aYfdjIL9TjgFKxONOk_aluZylo" KeyPath="yes" Source="$(var.ExtensionPath)\extensions.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ExtensionComponents">
            <ComponentRef Id="cmpT89ZE7m9F6ZxoBsVEWl9Mf1O1F0" />
        </ComponentGroup>
    </Fragment>
</Wix>