<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ReleaseVersion">
            <Component Id="cmpE2D4AE701AD15E22F02D77708DB56970" Guid="{AA5D8018-1A19-4109-91D9-04AEC7142D04}">
                <File Id="filE4166E7A6630A523852FB77D6276E6B4" KeyPath="yes" Source="$(var.BasePath)\Gdal.Core.dll" />
            </Component>
            <Component Id="cmpEDB3F9C1A64F5B7FD0DE3AE9D19AC027" Guid="{073BFAEB-92A9-4068-8A27-624DA7B67CFC}">
                <File Id="fil2ABACE64AE92E5F59914A94AC5E1BB99" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.deps.json" />
            </Component>
            <Component Id="cmp87A073CC84CBAB461611ED033F7B4467" Guid="{A5066665-B7C0-442B-9319-885BDDAB8C42}">
                <File Id="fil1C8691D5EE129F0EA819828FEB5E4F45" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.dll" />
            </Component>
            <Component Id="cmp41085EAC789E795CEF559F7DA49C8053" Guid="{97828626-A69A-4F54-93B4-00020BA5E587}">
                <File Id="fil42AF83ACD526392C4B54E90C445342C1" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.dll.config" />
            </Component>
            <Component Id="cmpDE9A31BDED7E92029CFEB5D9D0C9345B" Guid="{524F8379-697C-4F9C-9944-25CDC169C77C}">
                <File Id="fil97278DCF8A851692D71026268E944250" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.pdb" />
            </Component>
            <Component Id="cmpDF50F11C7E861BEA05CFDE3CF928448A" Guid="{4D461B6F-8BF9-4977-A872-1C96DB1BABBD}">
                <File Id="fil003EC95C7AB2EC4B9D4C2C4D252B0F53" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.runtimeconfig.json" />
            </Component>
            <Component Id="cmp91F944E44F62F0719FF4D4A8208295BE" Guid="{DC643E51-3446-4145-BFDD-254E2D214CA1}">
                <File Id="filF20CF2AB3DD9A19992FB501155B4BC11" KeyPath="yes" Source="$(var.BasePath)\Landis.Core.dll" />
            </Component>
            <Component Id="cmpBA5DAD12104931F017E75D8671B0AE9B" Guid="{D76DF7B4-D4AB-493A-A706-21C0015A61F5}">
                <File Id="fil199C1420C7CDD436ECA1B7A8E2E1EDD8" KeyPath="yes" Source="$(var.BasePath)\Landis.Core.Implementation.dll" />
            </Component>
            <Component Id="cmpEC0C20EEB9C38D42E996B8C561CCEC92" Guid="{38A26112-7D46-4487-BEC0-8571B75BA384}">
                <File Id="fil76819F669CCDF5C5DEE2C141773D5464" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.Dataset.dll" />
            </Component>
            <Component Id="cmpA7120537CA39F51D7191F8729962304B" Guid="{64607D90-C3B9-4993-A69D-4FE4834A5B0D}">
                <File Id="filEC7A75099C7BE294DDFB83EDE62860B4" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.deps.json" />
            </Component>
            <Component Id="cmp0A12279277A8F7A109ADE90BA3388035" Guid="{28CAB216-6570-4B35-A5DA-564C959081CB}">
                <File Id="fil8AF4B5121B53ACD6794F9C9FCE193DE3" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.dll" />
            </Component>
            <Component Id="cmp12837AC92AF80310174EBAD248A9E13D" Guid="{8DF83C3E-AEE2-4900-83A2-4EDF702E2B57}">
                <File Id="filE7394F5DF4C412F28EC62F8697F5274B" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.dll.config" />
            </Component>
            <Component Id="cmpDF83866667ADEAED4FAF421DE39884DC" Guid="{BDCCAEE6-68E7-4666-881F-8361D7153C07}">
                <File Id="fil2459ABBA695E815F81661CD5E024FCF7" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.pdb" />
            </Component>
            <Component Id="cmp1DF9CF7E56BBD9B4CF7B908B4A5214E1" Guid="{598CB57B-489F-423B-9C66-8B4FE930FD51}">
                <File Id="fil95C213368F47BD71FAC32C8810E8CDBA" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.runtimeconfig.dev.json" />
            </Component>
            <Component Id="cmp49104FDD8DC282BC35B7E44203C23838" Guid="{7FF3FB35-FD70-4ED4-B246-D172FD57B8A5}">
                <File Id="fil3BB670F2D24DFA3AD77776619F23291A" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.runtimeconfig.json" />
            </Component>
            <Component Id="cmp1A22628124A07783CFC4597CC9435D8F" Guid="{47F3D4B7-6E41-4768-A8B2-A22FDA15CC31}">
                <File Id="fil44EC49CC8F716B9711C12EC81CD2AA9D" KeyPath="yes" Source="$(var.BasePath)\Landis.Landscapes.dll" />
            </Component>
            <Component Id="cmpE33F8643D85CDF136BFC567350C7F06A" Guid="{299F7FBC-3F7F-4EA2-AE78-D9A76147FC58}">
                <File Id="filF48AE44729D8BAB5478BA47C697B35B2" KeyPath="yes" Source="$(var.BasePath)\Landis.RasterIO.dll" />
            </Component>
            <Component Id="cmp28F0C0752A0D42A20E2495477BE8C8A7" Guid="{DAE40AD4-7D5A-4030-9B9F-878A92DA9238}">
                <File Id="fil0908128FAE4FEB0D0F9670CD8E77EF88" KeyPath="yes" Source="$(var.BasePath)\Landis.RasterIO.Gdal.dll" />
            </Component>
            <Component Id="cmpBA4F9B20A294C0CA8C7B331CE8AED5A2" Guid="{2C8C4F44-0EF3-4966-80EE-418C53A2BB4A}">
                <File Id="fil5669C7E16FB37A028D563F8A48B13C91" KeyPath="yes" Source="$(var.BasePath)\Landis.SpatialModeling.dll" />
            </Component>
            <Component Id="cmpDDBA1FB6EFD311B8A1ED97D16DD79977" Guid="{DC707C86-67F3-477C-8708-2C3A86E65941}">
                <File Id="fil12D4BB70BB88D1A103F6276852B5C358" KeyPath="yes" Source="$(var.BasePath)\Landis.Utilities.dll" />
            </Component>
            <Component Id="cmp447952268F4EE3879A059BE0A129D2B8" Guid="{180352B7-8935-433C-9FC9-F7E4F0585E07}">
                <File Id="fil08312437C5D45F9E0EF0D639254A2B11" KeyPath="yes" Source="$(var.BasePath)\log4net.dll" />
            </Component>
            <Component Id="cmpB89425A741FC005084B887C2C63F1CAF" Guid="{D79B2432-DE86-4B34-95CE-F29ACC7230F9}">
                <File Id="fil2AE30EA814CAF380CDCEC95CD77B9769" KeyPath="yes" Source="$(var.BasePath)\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="cmpE427769B92CF4AA8E8BF2C1CA54FAFF5" Guid="{3D78DAF2-2941-4B90-BFFA-68746351FB0A}">
                <File Id="fil6D1E8801664F78F0EEA19296FC1AD454" KeyPath="yes" Source="$(var.BasePath)\System.Memory.dll" />
            </Component>
            <Component Id="cmpCED27DB12DFD0F071D85B176C6928701" Guid="{9BDAD06E-AE59-487D-B90F-771E46639537}">
                <File Id="fil8498F08EE7CF5CE55E3FFE81A7DFC2BB" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp79AAB7DE2D737B2DAD361A441A801E04" Guid="{4EC9899C-D13E-422D-BD8A-13B87413B950}">
                <File Id="filAD83B964CB0B980CE5F7FDB75489EC57" KeyPath="yes" Source="$(var.BasePath)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="cmp5A020079B01379C4DFBAFBC026A155EF" Guid="{8D7AD521-A38F-4253-A30A-826556E88E75}">
                <File Id="fil310AEA41E1A040A759E87A46AB121667" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.ProtectedData.dll" />
            </Component>
            <Component Id="cmp698428C936284B14FA1D9370E2F3339E" Guid="{05F8A084-51FF-4118-A93F-0DE93495A385}">
                <File Id="fil1288CE9EF85506869A1187D0CFB50096" KeyPath="yes" Source="$(var.BasePath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmp78B52BB1190830845A2750858D4093B5" Guid="{5673489B-D04B-4597-9B41-84D5B756A565}">
                <File Id="fil8F1FE37822E1E26274DD72C1CAFF4A59" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp37F9E7A0E1FA144F356DC052C56B4946" Guid="{35EBE97B-B14E-4166-9D41-D66B5A55D3CE}">
                <File Id="fil6EECCDA0A5ACC440FE6968F0DD761CD2" KeyPath="yes" Source="$(var.BasePath)\Troschuetz.Random.dll" />
            </Component>
            <Directory Id="dirAFCF1D7F17EA451AA4F52311F9BC543F" Name="runtimes">
                <Directory Id="dirE2535266FCE86D5747E58EED1CDB446F" Name="win">
                    <Directory Id="dir193526E0AFE4707FE3DE52A8D513B0ED" Name="lib">
                        <Directory Id="dir024E238EA4C790DA21ECCC4378CA1272" Name="netcoreapp2.0">
                            <Component Id="cmpBE44D3EFF24DBD44860236BECF8B7F05" Guid="{1B759919-F1FA-40F4-9EF1-C6D6A342DBC6}">
                                <File Id="fil9E880A4601AA7B5EDC6F640277131F6C" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netcoreapp2.0\System.Security.AccessControl.dll" />
                            </Component>
                            <Component Id="cmpA78CB1BD1DD1561AD8290BEF7F6AF0A7" Guid="{63DF0122-7D17-4706-AE93-DA5530BF74CB}">
                                <File Id="fil61D885F1DBAC0FEC2DFDAB6F506B5BE7" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netcoreapp2.0\System.Security.Principal.Windows.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir14C63E40FB7D4BE4BA18AD06F6FEEA56" Name="netstandard2.0">
                            <Component Id="cmpECACABF19EB99B1DE3B568E7AB89F521" Guid="{71D6697E-A06B-45E9-A725-1C866313CC3C}">
                                <File Id="fil3938B42A336CC997AD99DB6276EDB9AE" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netstandard2.0\System.Security.Cryptography.ProtectedData.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir7BDCE1E8347F824C636456766F401831" Name="win10-x64">
                    <Directory Id="dir1580F071DE686BDC0FE7CD7272F3ED12" Name="native">
                        <Component Id="cmpCFC9C01501BF19BB148E6D39E2807BF7" Guid="{DDEABF93-C65B-47E7-8EA7-CE20F4A39EDE}">
                            <File Id="fil4405B2E0D074DDC8B6C7D54C9FD600DE" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdal202.dll" />
                        </Component>
                        <Component Id="cmpC84FEE6BAFC39B15C2525A1B9B1D63F5" Guid="{E69F3898-6AE5-4C11-82B6-937E3DC8EF70}">
                            <File Id="fil1EB8465CE6561E50CB7D43B145BB75BB" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdalconst_wrap.dll" />
                        </Component>
                        <Component Id="cmp70D5EDAC46034EA106AC2CAF07D41D15" Guid="{4946CC39-2FE1-4336-8BD8-EAA7768DC10D}">
                            <File Id="fil55D6D209B682AFF7DD2733CDF7DCD3E6" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdal_wrap.dll" />
                        </Component>
                        <Component Id="cmp9E8B7DC0C1393CD705EDE0C83277C70F" Guid="{45192066-6E73-415A-A9F6-397B549FB5D9}">
                            <File Id="filE8959FD0F535CD767EEE3D7F8C4976FF" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\ogr_wrap.dll" />
                        </Component>
                        <Component Id="cmp3090404AD839A5299E796796CF663B6C" Guid="{094E2BCE-3AF0-4741-B4FD-DF2CF5F241BB}">
                            <File Id="fil7A609046B3888D630F2FCBB143F6E389" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\osr_wrap.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LandisComponents">
            <ComponentRef Id="cmpE2D4AE701AD15E22F02D77708DB56970" />
            <ComponentRef Id="cmpEDB3F9C1A64F5B7FD0DE3AE9D19AC027" />
            <ComponentRef Id="cmp87A073CC84CBAB461611ED033F7B4467" />
            <ComponentRef Id="cmp41085EAC789E795CEF559F7DA49C8053" />
            <ComponentRef Id="cmpDE9A31BDED7E92029CFEB5D9D0C9345B" />
            <ComponentRef Id="cmpDF50F11C7E861BEA05CFDE3CF928448A" />
            <ComponentRef Id="cmp91F944E44F62F0719FF4D4A8208295BE" />
            <ComponentRef Id="cmpBA5DAD12104931F017E75D8671B0AE9B" />
            <ComponentRef Id="cmpEC0C20EEB9C38D42E996B8C561CCEC92" />
            <ComponentRef Id="cmpA7120537CA39F51D7191F8729962304B" />
            <ComponentRef Id="cmp0A12279277A8F7A109ADE90BA3388035" />
            <ComponentRef Id="cmp12837AC92AF80310174EBAD248A9E13D" />
            <ComponentRef Id="cmpDF83866667ADEAED4FAF421DE39884DC" />
            <ComponentRef Id="cmp1DF9CF7E56BBD9B4CF7B908B4A5214E1" />
            <ComponentRef Id="cmp49104FDD8DC282BC35B7E44203C23838" />
            <ComponentRef Id="cmp1A22628124A07783CFC4597CC9435D8F" />
            <ComponentRef Id="cmpE33F8643D85CDF136BFC567350C7F06A" />
            <ComponentRef Id="cmp28F0C0752A0D42A20E2495477BE8C8A7" />
            <ComponentRef Id="cmpBA4F9B20A294C0CA8C7B331CE8AED5A2" />
            <ComponentRef Id="cmpDDBA1FB6EFD311B8A1ED97D16DD79977" />
            <ComponentRef Id="cmp447952268F4EE3879A059BE0A129D2B8" />
            <ComponentRef Id="cmpB89425A741FC005084B887C2C63F1CAF" />
            <ComponentRef Id="cmpE427769B92CF4AA8E8BF2C1CA54FAFF5" />
            <ComponentRef Id="cmpCED27DB12DFD0F071D85B176C6928701" />
            <ComponentRef Id="cmp79AAB7DE2D737B2DAD361A441A801E04" />
            <ComponentRef Id="cmp5A020079B01379C4DFBAFBC026A155EF" />
            <ComponentRef Id="cmp698428C936284B14FA1D9370E2F3339E" />
            <ComponentRef Id="cmp78B52BB1190830845A2750858D4093B5" />
            <ComponentRef Id="cmp37F9E7A0E1FA144F356DC052C56B4946" />
            <ComponentRef Id="cmpBE44D3EFF24DBD44860236BECF8B7F05" />
            <ComponentRef Id="cmpA78CB1BD1DD1561AD8290BEF7F6AF0A7" />
            <ComponentRef Id="cmpECACABF19EB99B1DE3B568E7AB89F521" />
            <ComponentRef Id="cmpCFC9C01501BF19BB148E6D39E2807BF7" />
            <ComponentRef Id="cmpC84FEE6BAFC39B15C2525A1B9B1D63F5" />
            <ComponentRef Id="cmp70D5EDAC46034EA106AC2CAF07D41D15" />
            <ComponentRef Id="cmp9E8B7DC0C1393CD705EDE0C83277C70F" />
            <ComponentRef Id="cmp3090404AD839A5299E796796CF663B6C" />
        </ComponentGroup>
    </Fragment>
</Wix>