<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="ReleaseVersion">
            <Component Id="cmpMhORITgdY.1xV7loqMYytTBeJ2k" Guid="{E1C66129-C739-4BD7-98F6-CBD768CE6206}">
                <File Id="filSjAHHNzHaeVfcXK.SfpemzHbQik" KeyPath="yes" Source="$(var.BasePath)\app.config" />
            </Component>
            <Component Id="cmpgBMQrYMxh4JvgbWoZZZv_9ObHKA" Guid="{B5806F7F-E529-4969-AB62-ABC59D9A62E7}">
                <File Id="filJ4RZeXKUvKJ2RK.0VmRt2Z1yMLU" KeyPath="yes" Source="$(var.BasePath)\Gdal.Core.dll" />
            </Component>
            <Component Id="cmp2LW57P7NSYiuh4BJWKIxe4Ud5V4" Guid="{D3AF1C13-1DD5-4FFA-B239-99805213BDAD}">
                <File Id="filOTZCMG6gCuckdwXZ8d6S_11lv0E" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.deps.json" />
            </Component>
            <Component Id="cmpogx87jRvxAtNFqbqcs9iGebLRWU" Guid="{7AB27F46-E70D-478D-972E-DBF1D758D95C}">
                <File Id="fil20ODPVm31gePZ4FmO6.FrPEyxg4" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.dll" />
            </Component>
            <Component Id="cmpnK5TT373nGU12vFba2TLs6TcN_k" Guid="{EE7EBE1D-015E-48AD-8323-4DDBC43B80F1}">
                <File Id="filuIQDkSaXIrCfSWG9Tdv0NvDPlR8" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.dll.config" />
            </Component>
            <Component Id="cmpN7DBEecwT.CzQtXqd039llm8.R0" Guid="{D7C7542C-B0E1-4857-AF11-41074C5B03B1}">
                <File Id="fil42blrGZ9bbGHj26cuVmd7XQJjug" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.exe" />
            </Component>
            <Component Id="cmpBg.v_nSjD5j.Cdh0uigOeFjZaiE" Guid="{9D00FC93-95FC-4F6F-8EDE-C582EE7D0B56}">
                <File Id="filzx.L7mz9q_UMNrMF3Fpx6haN7YQ" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.pdb" />
            </Component>
            <Component Id="cmpFPCOAGKEwQO_STR5wOPZiynPDbM" Guid="{6E04B947-0406-474B-8316-CC23A49B0AC9}">
                <File Id="filj4S.Tl4T6p54GXErNfs_I6XSCQI" KeyPath="yes" Source="$(var.BasePath)\Landis.Console.runtimeconfig.json" />
            </Component>
            <Component Id="cmpn.oUG.h_PI9FEMHbUz2rhs_Fz34" Guid="{80582CF0-4CE0-488B-AF8E-5C2BDE6B7225}">
                <File Id="filplKh8WaIBID33SH.mGvggZQj64k" KeyPath="yes" Source="$(var.BasePath)\Landis.Core.dll" />
            </Component>
            <Component Id="cmpGo_hvcpNsufs6DrzHaSL_kSz9Eg" Guid="{71DAAFF3-9221-4AA0-B315-ED289B7B1899}">
                <File Id="filnzRnDzyNnVjoieERwjAL_zd18aU" KeyPath="yes" Source="$(var.BasePath)\Landis.Core.Implementation.dll" />
            </Component>
            <Component Id="cmpnpFpxsOhMkkLJfYJCLowO.w2Noc" Guid="{5CC0D3FB-5E1E-4244-BDC8-D248EBA8AA08}">
                <File Id="filzl0spH.PpNNxKDXkDF.9ToglOmM" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.Dataset.dll" />
            </Component>
            <Component Id="cmptHYccIHjOJbyIksk9tqEt.4ZYdw" Guid="{26840716-EF92-4738-AEF9-6EFEFA9BE8F6}">
                <File Id="fil_YcwL5SsS1ma7IGbU66WuyH1yFk" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.dll" />
            </Component>
            <Component Id="cmpJuIShR3rIfeGqrtVNafE4Uli6Rc" Guid="{347A85D3-3BA0-48F8-8594-9DF57A766BFA}">
                <File Id="filfNGJnU3w.YzbfMaNpnUC1FTXkiI" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.dll.config" />
            </Component>
            <Component Id="cmp8MtuZbzr4QSKZGcZdkIyjcycl3w" Guid="{2434BDA1-BA18-45C3-AD84-295F91601519}">
                <File Id="filickzt09qKI15EVxugVsrPkiUDlA" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.exe" />
            </Component>
            <Component Id="cmp924KwRyVV1dS8NLziqXTbNIvus4" Guid="{01175248-2298-4B92-8724-3E9CD01C4378}">
                <File Id="filb5MKim0vb.3Yr14R1OJQaICz4yE" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.pdb" />
            </Component>
            <Component Id="cmpF3Fd7J2JGKhkvVV7UujqyGx8az4" Guid="{BAC68311-A5DA-4080-80E0-A5DDD0EE63C8}">
                <File Id="filZP4KZSfSoZNoYVzFY98tKYNKKiQ" KeyPath="yes" Source="$(var.BasePath)\Landis.Extensions.runtimeconfig.json" />
            </Component>
            <Component Id="cmpAiSDE5gSvCpPBy.O4shF2jc7GxA" Guid="{A687AD58-96A7-47C2-B489-D3A4509A6B80}">
                <File Id="filJ_W14XBDWDjlQWNHs78ChdZFprA" KeyPath="yes" Source="$(var.BasePath)\Landis.Landscapes.dll" />
            </Component>
            <Component Id="cmpgnc6MVJK5r6xnAl7BmItckFUQ7M" Guid="{4E57DFF1-C3F5-42E6-B8B1-B806A76C670D}">
                <File Id="filPWE4PibcaunWs6oJHHZtsxIhGFs" KeyPath="yes" Source="$(var.BasePath)\Landis.Library.Metadata-v2.dll" />
            </Component>
            <Component Id="cmpBwg4Q7roqwWNqcV8Bjed0VVLNzE" Guid="{C9CD8BA8-2E74-4C1B-A43C-991DDE35CA34}">
                <File Id="fil6qGfxZR63tVvoXF9wn3I2k7yMb0" KeyPath="yes" Source="$(var.BasePath)\Landis.Library.Metadata-v2.pdb" />
            </Component>
            <Component Id="cmpS5tNf6ibLgweRVNU.i400.hVd0w" Guid="{B99EA0F3-858A-4CE7-9A7E-50978DB462D3}">
                <File Id="filgE8jO5d6Bb8E598YP5qRuA64rgs" KeyPath="yes" Source="$(var.BasePath)\Landis.RasterIO.dll" />
            </Component>
            <Component Id="cmpbGZBdVIoJjoZCDcEVxAlGwoyVZU" Guid="{24D75324-9BA6-4F7F-A9C2-DBC2CC134553}">
                <File Id="fil0A.V2xoa34zqSwhnMdlMvHWdjXM" KeyPath="yes" Source="$(var.BasePath)\Landis.RasterIO.Gdal.dll" />
            </Component>
            <Component Id="cmpEkqoFlSqcCWaomE3E2cjWBnvgjU" Guid="{B23F95DB-9876-4C61-A589-262D3581389F}">
                <File Id="filq.yRHsk2049NgpyVSoRhHAY1dfQ" KeyPath="yes" Source="$(var.BasePath)\Landis.SpatialModeling.dll" />
            </Component>
            <Component Id="cmp3_rFCZXSbMVZ8B0aYcmewBslWAU" Guid="{DC1F2E5F-6048-4958-A6A3-9A7D2D050583}">
                <File Id="filXWPXdp3SdrtMwsOHOA3d0DO9qC4" KeyPath="yes" Source="$(var.BasePath)\Landis.Utilities.dll" />
            </Component>
            <Component Id="cmpAApVjI1BClEvALAOcHTX6ZVB0ao" Guid="{B87E6D6A-981B-47F7-929F-37118F723EA4}">
                <File Id="filcaq02y_pe26XXP7gKhtiO6rficA" KeyPath="yes" Source="$(var.BasePath)\log4net.dll" />
            </Component>
            <Component Id="cmpLqfD2ay1uzk_6RthaTKiq8YDPc0" Guid="{B6D8D61C-4872-469D-B3E7-A74711F984BB}">
                <File Id="fillz19VQNQUM9fApLY1LHqwZt3jlY" KeyPath="yes" Source="$(var.BasePath)\MathNet.Numerics.dll" />
            </Component>
            <Component Id="cmpmGPwwIHKr.GZesD.bOeQF5QC1WM" Guid="{7E9275E8-DE00-4AD4-BF23-0DF345BC23D2}">
                <File Id="filLl08tiAc7dzx_zVXBOhNUDgBAFY" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmpTKvg6yZAE_LI.hXMnpbwurF.Onc" Guid="{11452E55-A611-4A53-A7B5-6DFC3ABCC2D2}">
                <File Id="filgDjiCFlezDBfCczOBiXY1XLxGQg" KeyPath="yes" Source="$(var.BasePath)\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="cmpdvbR6vnVOuOx5GcN8LA3W9I1FnY" Guid="{1A5DB377-741B-44D3-BB3B-29ECAD0A3A6E}">
                <File Id="filc6oDIBGj0N5NSE.f9FXBSS6G0W8" KeyPath="yes" Source="$(var.BasePath)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmpgjJLzulQpVzQK4lywYR8GqBrLkI" Guid="{0ADF8F0A-2C47-43BD-9172-34D98494DFCC}">
                <File Id="filEIGLXaGhlsFQ4OW4.tcAJpPIz7o" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.ProtectedData.dll" />
            </Component>
            <Component Id="cmppgWs33x515jhYMjKQ9LSQW.wXVU" Guid="{D707D29D-A291-4D21-9AC1-D16DE589AAA2}">
                <File Id="fil65TJ.N7jbmkc6FoII_xDjAEHDkM" KeyPath="yes" Source="$(var.BasePath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmpbx.g4SESLCXpBvLJrXs0LvLwMkc" Guid="{BBBA8342-0269-4550-AA63-10A5E8A455B7}">
                <File Id="fil3TO4MGyXswL1kzhv3EhvJPBf67I" KeyPath="yes" Source="$(var.BasePath)\System.Windows.Extensions.dll" />
            </Component>
            <Component Id="cmpTUkYUARpQXFhGWEVpTeFeo0SweA" Guid="{41DAC8A5-AA4E-470D-98D8-B07022B70A11}">
                <File Id="filod.qQ9TEzs4QsNJNshnh9ObwxNw" KeyPath="yes" Source="$(var.BasePath)\Troschuetz.Random.dll" />
            </Component>
            <Directory Id="dir6SaXAuVvM2mmwldSIXFhk5np2uk" Name="runtimes">
                <Directory Id="dirm.RGtpyX6aQyPanz65bvz9aXcII" Name="linux-x64">
                    <Directory Id="dirq8nzK.39ELqHqSjn5IZemWC51DE" Name="native">
                        <Component Id="cmpNn_xdCdrEtJ4NcyW10nxqrXU9uc" Guid="{278E750A-B8BE-4CE0-B38C-A6DC5B2BB7DE}">
                            <File Id="filQcHhBcsy.mTZKqgBlQmjAm0OyRg" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\gdalconst_wrap.so" />
                        </Component>
                        <Component Id="cmpcAjRAoALTAJKxrvpt3wxSotY9FY" Guid="{377D200D-1B61-4349-9737-B0869354F7BE}">
                            <File Id="fil7E6KFlIhC_TB_Rq9ckvulbtfl5U" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\gdal_wrap.so" />
                        </Component>
                        <Component Id="cmp5KEA3i03dudHNFwV.nISRafsqrM" Guid="{3B177712-5C38-431F-BDB0-8320E2D69593}">
                            <File Id="filpUN71SwIDHJ55tOJMLid5k0Vw_M" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\libgdal.so.20" />
                        </Component>
                        <Component Id="cmpLPTrSOS.64lNYApN7Ge6NnxMVss" Guid="{CF719461-161D-48EA-A3A5-B47EB390EF56}">
                            <File Id="filR9OSS8bSkbAJ0wpkcZrbz3YVeQA" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\ogr_wrap.so" />
                        </Component>
                        <Component Id="cmpDWZz4KVjbpSqQcxGzLj67LS82fc" Guid="{715BD81A-5514-4BDA-B322-1F67C16F506B}">
                            <File Id="filpJ5Bf30dpBEQ34JnvCgHVN_mTeo" KeyPath="yes" Source="$(var.BasePath)\runtimes\linux-x64\native\osr_wrap.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirfjZ1UOjCNmhUNKzxwyM1puiOJxI" Name="win">
                    <Directory Id="dirookjFdxbXaEiY3utoamlOHkGzho" Name="lib">
                        <Directory Id="dird0v1lU6rvXvxXkLnaLKopt9FweE" Name="net6.0">
                            <Component Id="cmpsNL_JPZdg7sMMl0zXdPAqATDu5M" Guid="{8F5675B7-6BF9-444D-8C9C-21C4745BCC53}">
                                <File Id="filQggpI3JDmwnzq.4bwJbVdj6oTbc" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net6.0\Microsoft.Win32.SystemEvents.dll" />
                            </Component>
                            <Component Id="cmpSecO6cZHwP6Utl.av.edN1eygo8" Guid="{EE59B728-D757-433E-80EE-7BA3DD8B29DA}">
                                <File Id="filhbONwrEveTGaNV.lwCErFSe0fsA" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net6.0\System.Drawing.Common.dll" />
                            </Component>
                            <Component Id="cmpeW8rnwI.TEEcdJU5IthdT5hACrQ" Guid="{E50B75E4-3C83-4F5F-99C1-54C60BAF905A}">
                                <File Id="fil4rt34eOG1jOXQl9LpX62dw5qRMQ" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net6.0\System.Security.Cryptography.ProtectedData.dll" />
                            </Component>
                            <Component Id="cmpvqTRxIuz7zy3oolQDrX2TqF9N0s" Guid="{AA7284AE-9102-445F-8987-857F49D320A0}">
                                <File Id="filjPfmEkVQjQbx_4m9qIMCtX_mURo" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\net6.0\System.Windows.Extensions.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dirbPT8CVPCM1_MM5t6Qi6ge4Uahk4" Name="netstandard2.0">
                            <Component Id="cmpCscEuWi31wkpw2sNsnh5b8rXOKA" Guid="{E7369CDC-E3E2-409A-97C7-5D533CF05FAE}">
                                <File Id="filWP9NQ3G9XNi.cCbBeJ3XNfUGNg0" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netstandard2.0\System.Security.Cryptography.ProtectedData.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirp4RB3V7No42yY.40jfBI7QyOg6Q" Name="win10-x64">
                    <Directory Id="dirsSKhakOyrxyii_kvLONErDQce6E" Name="native">
                        <Component Id="cmp03P9PUm9fbM9rwA4aKzxCs9Y3z4" Guid="{E14EBB38-C3CE-4C29-BE5B-9EDE0D57F26A}">
                            <File Id="filoVMyIqHTh_094aWjeX0qOLRJJHU" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdal202.dll" />
                        </Component>
                        <Component Id="cmpHzgN_6XTlZo5uBxYn6lC7i07UMY" Guid="{99B20107-7305-4E49-8CDB-0DA9ACA1177E}">
                            <File Id="filYjvGfe95gZ5vUcA2UD5FIlD6uXs" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdalconst_wrap.dll" />
                        </Component>
                        <Component Id="cmpPn7g1NnDIZZBjwvRi30P0bVXvb0" Guid="{1E260BB2-8FF5-447D-8AB7-DA0C2C40C194}">
                            <File Id="filuQ0Pkqj1SjVy0VXunjThBCZfNPQ" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\gdal_wrap.dll" />
                        </Component>
                        <Component Id="cmpLXmPdajAQ229G6teDOFj_uaJ9js" Guid="{5F3151E8-B073-4BFB-84D8-D66C03FDAED3}">
                            <File Id="filcvq44J_9YVYPjEKRshOf3zO8v0Y" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\ogr_wrap.dll" />
                        </Component>
                        <Component Id="cmprrB4XTmbwaX9dxMJ9Su3APsQ.dc" Guid="{5455CBA9-9AB6-4AA9-A663-70AB333BCF49}">
                            <File Id="filutUqAyOODNYVI1hAXarTxls8znU" KeyPath="yes" Source="$(var.BasePath)\runtimes\win10-x64\native\osr_wrap.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LandisComponents">
            <ComponentRef Id="cmpMhORITgdY.1xV7loqMYytTBeJ2k" />
            <ComponentRef Id="cmpgBMQrYMxh4JvgbWoZZZv_9ObHKA" />
            <ComponentRef Id="cmp2LW57P7NSYiuh4BJWKIxe4Ud5V4" />
            <ComponentRef Id="cmpogx87jRvxAtNFqbqcs9iGebLRWU" />
            <ComponentRef Id="cmpnK5TT373nGU12vFba2TLs6TcN_k" />
            <ComponentRef Id="cmpN7DBEecwT.CzQtXqd039llm8.R0" />
            <ComponentRef Id="cmpBg.v_nSjD5j.Cdh0uigOeFjZaiE" />
            <ComponentRef Id="cmpFPCOAGKEwQO_STR5wOPZiynPDbM" />
            <ComponentRef Id="cmpn.oUG.h_PI9FEMHbUz2rhs_Fz34" />
            <ComponentRef Id="cmpGo_hvcpNsufs6DrzHaSL_kSz9Eg" />
            <ComponentRef Id="cmpnpFpxsOhMkkLJfYJCLowO.w2Noc" />
            <ComponentRef Id="cmptHYccIHjOJbyIksk9tqEt.4ZYdw" />
            <ComponentRef Id="cmpJuIShR3rIfeGqrtVNafE4Uli6Rc" />
            <ComponentRef Id="cmp8MtuZbzr4QSKZGcZdkIyjcycl3w" />
            <ComponentRef Id="cmp924KwRyVV1dS8NLziqXTbNIvus4" />
            <ComponentRef Id="cmpF3Fd7J2JGKhkvVV7UujqyGx8az4" />
            <ComponentRef Id="cmpAiSDE5gSvCpPBy.O4shF2jc7GxA" />
            <ComponentRef Id="cmpgnc6MVJK5r6xnAl7BmItckFUQ7M" />
            <ComponentRef Id="cmpBwg4Q7roqwWNqcV8Bjed0VVLNzE" />
            <ComponentRef Id="cmpS5tNf6ibLgweRVNU.i400.hVd0w" />
            <ComponentRef Id="cmpbGZBdVIoJjoZCDcEVxAlGwoyVZU" />
            <ComponentRef Id="cmpEkqoFlSqcCWaomE3E2cjWBnvgjU" />
            <ComponentRef Id="cmp3_rFCZXSbMVZ8B0aYcmewBslWAU" />
            <ComponentRef Id="cmpAApVjI1BClEvALAOcHTX6ZVB0ao" />
            <ComponentRef Id="cmpLqfD2ay1uzk_6RthaTKiq8YDPc0" />
            <ComponentRef Id="cmpmGPwwIHKr.GZesD.bOeQF5QC1WM" />
            <ComponentRef Id="cmpTKvg6yZAE_LI.hXMnpbwurF.Onc" />
            <ComponentRef Id="cmpdvbR6vnVOuOx5GcN8LA3W9I1FnY" />
            <ComponentRef Id="cmpgjJLzulQpVzQK4lywYR8GqBrLkI" />
            <ComponentRef Id="cmppgWs33x515jhYMjKQ9LSQW.wXVU" />
            <ComponentRef Id="cmpbx.g4SESLCXpBvLJrXs0LvLwMkc" />
            <ComponentRef Id="cmpTUkYUARpQXFhGWEVpTeFeo0SweA" />
            <ComponentRef Id="cmpNn_xdCdrEtJ4NcyW10nxqrXU9uc" />
            <ComponentRef Id="cmpcAjRAoALTAJKxrvpt3wxSotY9FY" />
            <ComponentRef Id="cmp5KEA3i03dudHNFwV.nISRafsqrM" />
            <ComponentRef Id="cmpLPTrSOS.64lNYApN7Ge6NnxMVss" />
            <ComponentRef Id="cmpDWZz4KVjbpSqQcxGzLj67LS82fc" />
            <ComponentRef Id="cmpsNL_JPZdg7sMMl0zXdPAqATDu5M" />
            <ComponentRef Id="cmpSecO6cZHwP6Utl.av.edN1eygo8" />
            <ComponentRef Id="cmpeW8rnwI.TEEcdJU5IthdT5hACrQ" />
            <ComponentRef Id="cmpvqTRxIuz7zy3oolQDrX2TqF9N0s" />
            <ComponentRef Id="cmpCscEuWi31wkpw2sNsnh5b8rXOKA" />
            <ComponentRef Id="cmp03P9PUm9fbM9rwA4aKzxCs9Y3z4" />
            <ComponentRef Id="cmpHzgN_6XTlZo5uBxYn6lC7i07UMY" />
            <ComponentRef Id="cmpPn7g1NnDIZZBjwvRi30P0bVXvb0" />
            <ComponentRef Id="cmpLXmPdajAQ229G6teDOFj_uaJ9js" />
            <ComponentRef Id="cmprrB4XTmbwaX9dxMJ9Su3APsQ.dc" />
        </ComponentGroup>
    </Fragment>
</Wix>